VITE_SUPABASE_URL="https://hdenkuiappjyzrtpvzqb.supabase.co"
VITE_SUPABASE_PUBLISHABLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhkZW5rdWlhcHBqeXpydHB2enFiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzUwOTI3NTgsImV4cCI6MjA5MDY2ODc1OH0.NT0DWxmbP4_pBmgY6caqnR81kZykOphYujUGToMBLI8"
